certifi==14.05.14
fudge==1.0.3
google-api-python-client>=1.3.1
httplib2==0.9
oauth2client==1.4.5
praw>=2.1.20
pyasn1==0.1.7
pyasn1-modules==0.0.5
pyparsing==2.0.3
python-dateutil==2.4.0
pytz==2014.10
requests==2.5.1
rsa==3.1.4
simplejson==3.6.5
six==1.9.0
soundcloud>=0.4.1
update-checker==0.11
uritemplate==0.6